<!DOCTYPE html>
<html>
<%- include("head.ejs") %>
<body>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.2.3/flatpickr.min.css"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.2.3/flatpickr.min.js"></script>
<%- include("header.ejs") %>
<div class="container">
<h2>Admin Settings</h2>
<div class="card"><div class="card-content">
    <h3 class="card-title">General</h3>
    <form action="/options" method="POST" class="row" style="margin-bottom: 0px;">
        <div class="input-field inline col m2 s4">
        <input type="text" name="current_semester" value="<%= current_semester %>"><label for="slack_webhook">Current Semester</label>
        </div>
        <div class="input-field inline col m2 s6 center-btn">
        <button type="submit" class='btn waves-effect waves-light cyan'>Change</button>
        </div>
    </form>
    <form action="/options" method="POST" class="row" style="margin-bottom: 0px;">
        <div class="input-field inline col m10 s12">
        <input type="text" name="slack_webhook" value="<%= slack_webhook %>"><label for="slack_webhook">Slack Webhook URL</label>
        </div>
        <div class="input-field inline col m2 s12 center-btn">
        <button type="submit" class='btn waves-effect waves-light cyan'>Change</button>
        </div>
    </form>
</div></div>
<div class="card"><div class="card-content">
    <h3 class="card-title">Topics</h3>
    <div class="fake-table striped"><div class="fake-thead">
    <div class="fake-tr">
        <div class="fake-th">Topic Name</div>
        <div class="fake-th">Out Date/Time</div>
        <div class="fake-th">Due Date/Time</div>
        <div class="fake-th">Actions</div>
    </div>
    </div><div class="fake-tbody">
    <% topics.forEach(function(topic) { %>
    <form class="fake-tr" method="POST">
    <div class="fake-td"><input type="text" name="topic_name" value="<%= topic.name %>"></div>
    <div class="fake-td"><input type="text" name="out_date" class="datepicker" value="<%= topic.out_date %>"></div>
    <div class="fake-td"><input type="text" name="due_date" class="datepicker" value="<%= topic.due_date %>"></div>
    <div class="fake-td" style="width: 1%; white-space:nowrap;">
        <input type="hidden" name="id" value="<%= topic.id %>">
        <button class="btn-flat waves-effect cyan white-text" name="action" value="UPDATE">Update</button>
        <button class="btn-flat waves-effect grey lighten-2 grey-text text-darken-3 remove-button" name="action" value="DELETE">Delete</button>
    </div>
    </form>
    <% }); %>
    </div>
    <p>Add a new topic:</p>
    <div class="fake-tbody">
    <form class="fake-tr" method="POST" style="background: none;">
    <div class="fake-td"><label for="topic_name">Name</label><input type="text" name="topic_name"></div>
    <div class="fake-td"><label for="out_date">Out Date/Time</label><input type="text" name="out_date" class="datepicker"></div>
    <div class="fake-td"><label for="due_date">Due Date/Time</label><input type="text" name="due_date" class="datepicker"></div>
    <div class="fake-td" style="width: 1%; white-space:nowrap;">
        <button class="btn-flat waves-effect cyan white-text" name="action" value="ADD">Add</button>
    </div>
    </form>
    </div></div>
</div></div>
</div>
<script type="text/javascript">
$(document).ready(function() {
  <%_ if (toast) { _%>
    Materialize.toast("<%= toast %>", 4000);
  <%_ } _%>
  $(document).on("click", ".remove-button", function(event) {
        if (!$(this).hasClass("confirming")) {
            $(".confirming").each(function() {
                $(this).removeClass("confirming red white-text")
                    .addClass("grey lighten-2 grey-text text-darken-3")
                    .text("Remove");
            });
            $(this).addClass("confirming red white-text")
                .removeClass("grey lighten-2 grey-text text-darken-3")
                .text("Are you sure?");
            event.preventDefault();
        }
    });
    $(document).click(function(event) {
        if (!$(event.target).hasClass("remove-button")) {
            $(".confirming").each(function() {
                $(this).removeClass("confirming red white-text")
                    .addClass("grey lighten-2 grey-text text-darken-3")
                    .text("Delete");
            });
        }
    });
    $('.datepicker').flatpickr({
        enableTime: true,
        altInput: true,
        altFormat: "F j, Y h:i K",
        dateFormat: "D M j Y H:i:S"
    });
});
</script>
<%- include("footer.ejs") %>
</body>
</html>
