<!DOCTYPE html>
<html>
<%- include("head.ejs") %>
<body>
<%- include("header.ejs") %>
<div class="container">
  <div id="message" class="center">
  <span id="message_content">
  <%_ if (message) { _%>
    <%- message %>
  <%_ } _%>
  </span>
  <%_ if (message && session && session.TA) { _%>
    <a href="#" onclick="editMessage(); return false;" style="vertical-align: -0.25em;"><i class="material-icons">mode_edit</i></a>
  <%_ } _%>
  <%_ if (!message && session && session.TA) { _%>
  <button class='btn-flat light-blue-text text-darken-1' onclick="editMessage(); return false;">Add a message</button>
  <%_ } _%>
  </div>
  <%_ if (session && session.TA) { _%>
  <form id="message_form" method='POST' action="/options" class='center input-field'>
    <input type='text' placeholder="most basic HTML tags are supported" style='width: 50%;' name="message" value='<%= message %>'>
    <button class='btn-flat' onclick="cancelEditMessage(); return false;">Cancel</button>
    <button class='btn waves-effect waves-light cyan'>Submit</button>
  </form>
  <%_ } _%>
  
  <div id="queue_container">
  <div id="status">
    <div class="inner">
      <div id="status_content"></div>
    </div>
  </div>
  <ul class="collection" id="queue"></ul>
  </div>
  
  <div id="add_form">
  <h6 class="center" style="font-size: 120%;">
    <%_ if (session && session.TA) { _%>
    Add a student to the queue:
    <%_ } else { _%>
    Add your name to the queue:
    <%_ } _%>
  </h6>
  <form method="POST" class="row">
  <div class="input-field inline col l4 m6 s12">
    <input id="name" name="name" type="text" required
    <%_ if (session && !session.TA) { _%>
    value="<%= session.name %>"
    <%_ } _%>
    >
    <label for="name">Name</label>
  </div>
  <div class="input-field inline col l3 m6 s12">
    <input id="user_id" name="user_id" type="text" pattern="[A-Za-z0-9]*" minlength=3 maxlength=8 required
    <%_ if (session && !session.TA) { _%>
    value="<%= session.user_id %>"
    <%_ if (session.authenticated && !session.TA) { _%>
    readonly="true"
    <%_ }} _%>
    >
    <label for="user_id">Andrew ID</label>
  </div>
  <div class="input-field inline col l3 m6 s12">
    <select novalidate id="topic" name="topic_id">
        <option value="" disabled selected hidden>Choose a topic</option>
      <%_ topics.forEach(function(topic) { _%>
        <option value="<%= topic.id %>"><%= topic.name %></option>
      <%_ }); _%>
        <option value="0">other</option>
    </select>
    <label for="topic">What would you like help with?</label>
  </div>
  <div class="input-field inline col l2 m2 s12 center-btn">
    <button class="waves-effect waves-light btn cyan" name="action" value="ADD">Enter</button>
  </div>
  </form>
  </div>
  <h6 id="frozen_message" class="center" style="font-size: 120%;">
    The queue is <strong>frozen</strong>. No new signups are allowed.
  </h6>
</div>

<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="/js/client.js"></script>
<script type="text/javascript">

var seq = <%= seq %>;
<%_ if (session && session.TA) { _%>
var ta_id = <%= session.TA.id %>;
var ta_helping_id = <%= session.TA.helping_id ? session.TA.helping_id : "null" %>;
<%_ } else { _%>
var ta_id = null;
var ta_helping_id = null;
<%_ } _%>
var waittimes = <%- JSON.stringify(waittimes); -%>;

$(document).ready(function() {
  <%_ if (toast) { _%>
    Materialize.toast("<%= toast %>", 4000);
    
  <%_ } _%>
<%_ var sawSelf = false; _%>
<%_ entries.forEach(function(entry) { _%>
  <%_ if (session && (entry.session_id == session.id || session.authenticated && entry.user_id == session.user_id)) { _%>
    <%_ sawSelf = true; _%>
    $("#queue").append(buildMyEntry(<%- JSON.stringify({
        id: entry.id,
        status: entry.status,
        name: entry.name,
        user_id: entry.user_id,
        topic_name: entry.topic ? entry.topic.name : "other",
        ta_full_name: entry.TA ? entry.TA.full_name : ""
    }); %>));
  <%_ } else if (session && session.TA) { _%>
    $("#queue").append(buildTAEntry(<%- JSON.stringify({
        id: entry.id,
        status: entry.status,
        name: entry.name,
        user_id: entry.user_id,
        ta_id: entry.TA ? entry.TA.id : null,
        topic_name: entry.topic ? entry.topic.name : "other",
        ta_full_name: entry.TA ? entry.TA.full_name : ""
    }); %>));
  <%_ } else { _%>
    $("#queue").append(buildStudentEntry(<%- JSON.stringify({
        id: entry.id,
        status: entry.status,
        ta_full_name: entry.TA ? entry.TA.full_name : ""
    }); %>));
  <%_ } _%>
<%_ }); _%>

  <%_ if ((sawSelf || frozen) && !(session && session.TA)) { _%>
    $("#add_form").hide();
  <%_ } _%>
  <%_ if (!frozen) { _%>
    $("#frozen_message").hide();
  <%_ } _%>
  
    positionOverlay();
    updateStatus();
});

</script>
<%- include("footer.ejs") %>
</body>
</html>
