<!DOCTYPE html>
<html>
<%- include("head.ejs") %>
<body>
<%- include("header.ejs") %>
<div class="container">
  <div id="message" class="center">
  <% if (message) { %>
  <%- message %>
  <% if (session && session.TA) { %>
  <a href="#" onclick="editMessage(); return false;" style="vertical-align: -0.2em;"><i class="material-icons">mode_edit</i></a>
  <% } %>
  <% } else if (session && session.TA) { %>
  <a href="#" onclick="editMessage(); return false;">Add a message</a>
  <% } %>
  </div>
  <form id="message_form" method='POST' action="/options" class='center input-field'>
    <input type='text' style='width: 50%;' name="message" value='<%= message %>'>
    <button class='btn-flat' onclick="cancelEditMessage(); return false;">Cancel</button>
    <button class='btn waves-effect waves-light cyan'>Submit</button>
  </form>
  <ul class="collection">
    <% var sawSelf = false; %>
    <% entries.forEach(function(entry) { %>
    <% if (session && (entry.session_id == session.id || session.authenticated && entry.user_id == session.user_id)) { %>
    <% sawSelf = true; %>
      <li class="collection-item me"><form method="POST">
      <input type="hidden" name="entry_id" value="<%= entry.id %>">
      <%= entry.name %> (<%= entry.user_id %>)
      <% if (entry.status == 1) { %>
      <span class="secondary-content"><%= entry.TA.full_name %> is helping</span>
      <% } else { %>
      <button class="secondary-content waves-effect waves btn-flat grey lighten-3 grey-text text-darken-2 remove-button" name="action" value="REM">Remove</button>
      <% } %>
      <div class="clear">
      </form></li>
    <% } else if (session && session.TA) { %>
      <li class="collection-item"><form method="POST">
      <input type="hidden" name="entry_id" value="<%= entry.id %>">
      <%= entry.name %> (<%= entry.user_id %>)
      <div class="secondary-content">
      <% if (entry.status == 1 && session.TA.id == entry.TA.id) { %>
      <div class="right">You are helping</div><br>
      <button class="waves-effect waves btn-flat grey lighten-3 grey-text text-darken-2" name="action" value="CANCEL">Cancel</button>&nbsp;
      <button class="waves-effect waves-light btn blue" name="action" value="DONE">Done</button>
      <% } else if (entry.status == 1) { %>
      <span><%= entry.TA.full_name %> is helping</span>
      <button class="waves-effect waves btn-flat grey lighten-2 black-text x-button" name="action" value="CANCEL">X</button>
      <% } else if (!session.TA.helping_id) { %>
      <button class="waves-effect waves btn-flat grey lighten-3 grey-text text-darken-2 remove-button" name="action" value="REM">Remove</button>&nbsp;
      <button class="waves-effect waves-light btn blue" name="action" value="HELP">Help</button>
      <% } %>
      </div>
      <div class="clear">
      </form></li>
    <% } else { %>
      <li class="collection-item">&nbsp;
      <% if (entry.status == 1) { %>
      <span class="secondary-content"><%= entry.TA.full_name %> is helping</span>
      <% } %>
      </li>
    <% }}); %>
  </ul>
  <% if ((!sawSelf && !frozen) || (session && session.TA)) { %>
  <h6 class="center" style="font-size: 120%;">
    <% if (session && session.TA) { %>
    Add a student to the queue:
    <% } else { %>
    Add your name to the queue:
    <% } %>
  </h6>
  <form method="POST" class="row">
  <div class="input-field inline col l4 m6 s12">
    <input id="name" name="name" type="text" required>
    <label for="name">Name</label>
  </div>
  <div class="input-field inline col l3 m6 s12">
    <input id="user_id" name="user_id" type="text" pattern="[A-Za-z0-9]*" minlength=3 maxlength=8 required
    <% if (session && !session.TA) { %>
    value="<%= session.user_id %>"
    <% if (session.authenticated && !session.TA) { %>
    readonly="true"
    <% }} %>
    >
    <label for="user_id">Andrew ID</label>
  </div>
  <div class="input-field inline col l3 m6 s12">
    <select novalidate id="topic" name="topic">
      <option value="" disabled selected hidden>Choose a topic</option>
      <option value="1">Option 1</option>
      <option value="2">Option 2</option>
      <option value="3">Option 3</option>
    </select>
    <label for="topic">What would you like help with?</label>
  </div>
  <div class="input-field inline col l2 m2 s12 center-btn">
    <button class="waves-effect waves-light btn cyan" name="action" value="ADD">Enter</button>
  </div>
  </form>
  <% } else if (frozen) { %>
  <h6 class="center" style="font-size: 120%;">
    The queue is <strong>frozen</strong>. No new signups are allowed.
  </h6>
  <% } %>
</div>
<script type="text/javascript">

$(document).ready(function() {
    $('select').material_select();
    <% if (toast) { %>
    Materialize.toast("<%= toast %>", 4000);
    <% } %>
    $(".remove-button").click(function(event) {
        if (!$(this).hasClass("confirming")) {
            $(".confirming").each(function() {
                $(this).removeClass("confirming red white-text")
                    .addClass("grey lighten-3 grey-text text-darken-2")
                    .text("Remove");
            });
            $(this).addClass("confirming red white-text")
                .removeClass("grey lighten-3 grey-text text-darken-2")
                .text("Are you sure?");
            event.preventDefault();
        }
    });
    $(document).click(function(event) {
        if (!$(event.target).hasClass("remove-button")) {
            $(".confirming").each(function() {
                $(this).removeClass("confirming red white-text")
                    .addClass("grey lighten-3 grey-text text-darken-2")
                    .text("Remove");
            });
        }
    });
});

function editMessage() {
    $("#message").hide();
    $("#message_form").show();
    var len = $("#message_form input").val().length;
    $("#message_form input").focus().get(0).setSelectionRange(len, len);
}

function cancelEditMessage() {
    $("#message_form").hide();
    $("#message").show();
}

</script>
</body>
</html>
