<!DOCTYPE html>
<html>
<%- include("head.ejs") %>
<link href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.11/c3.min.css" rel="stylesheet" type="text/css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js" charset="utf-8"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.11/c3.min.js"></script>
<body>
<%- include("header.ejs") %>
<%
function duration_format(seconds) {
    if (seconds < 60) {
        return Math.floor(seconds) + "s";
    } else if (seconds < 60*60) {
        return Math.floor(seconds / 60) + "m " + Math.floor(seconds) % 60 + "s";
    } else if (seconds < 60*60*24) {
        return Math.floor(seconds/60/60) + "h " + Math.floor(seconds/60) % 60 + "m";
    } else {
        return Math.floor(seconds/60/60/24) + "d " + Math.floor(seconds/60/60) % 24 + "h";
    }
}
%>
<div class="container">

<h2>Metrics for <%= current_semester %></h2>
<% if (individual || laststudents) { %>
<div class="card"><div class="card-content">
    <% if (individual) { %>
    <h3 class="card-title">Your Statistics</h3>
    <div class="row" style="margin-bottom: 0px;">
    <div class="col s12 m6 l4 num-box"><p>Number of Students Helped</p><p class="bignum"><%= individual.num_students %></p></div>
    <div class="col s12 m6 l4 num-box"><p>Total Time Spent Helping</p><p class="bignum"><%= duration_format(individual.total_help_duration) %></p></div>
    <div class="col s12 m6 l4 num-box"><p>Average Time per Student</p><p class="bignum"><%= duration_format(individual.avg_help_duration) %></p></div>
    </div>
    <% } %>
    <% if (laststudents) { %>
    <h4 class="card-title" style="display: inline-block;">Students Helped This Week</h4>
    <p style="display: inline-block;"><input id='emails' type='text' value="<%= laststudents.map(function(x) { return x.user_id + "@andrew.cmu.edu" }).join(";"); %>"> <a id="copy_button" href="javascript:;">Copy all email addresses</a></p>
    <table class="striped"><thead>
    <tr><th>Name</th><th>Andrew ID</th><th>Topic</th><th>Help Time</th><th>Help Duration</th></tr>
    </thead><tbody>
    <% laststudents.forEach(function(entry) { %>
    <tr><td><%= entry.name %></td><td><%= entry.user_id %></td><td><%= entry.topic_name ? entry.topic_name : "other" %></td><td><%= entry.help_time %></td><td><%= duration_format(entry.help_duration) %></td></tr>
    <% }); %>
    </tbody></table>
    <% } %>
</div></div>
<% } %>

<div class="card"><div class="card-content">
    <h3 class="card-title">Overall Staff Statistics</h3>
    <div class="row" style="margin-bottom: 0px;">
    <div class="col s12 m6 l3 num-box"><p>Number of Students Helped</p><p class="bignum"><%= summary.num_students %></p></div>
    <div class="col s12 m6 l3 num-box"><p>Average Wait Time</p><p class="bignum"><%= duration_format(summary.avg_wait_time) %></p></div>
    <div class="col s12 m6 l3 num-box"><p>Total Time Spent Helping</p><p class="bignum"><%= duration_format(summary.total_help_duration) %></p></div>
    <div class="col s12 m6 l3 num-box"><p>Average Time per Student</p><p class="bignum"><%= duration_format(summary.avg_help_duration) %></p></div>
    </div>
</div></div>

<div class="card"><div class="card-content">
    <h3 class="card-title">Number of Students over Time</h3>
    <div id="daily_count"></div>
</div></div>

<% if (admin) { %>
<div class="card"><div class="card-content">
    <h3 class="card-title">Statistics by TA</h3>
    <table class="striped"><thead>
    <tr><th>Name</th><th># Students Helped</th><th>Help Duration</th><th>Avg. Time/Student</th></tr>
    </thead><tbody>
    <% admin.forEach(function(entry) { %>
    <tr><td><%= entry.full_name %></td><td><%= entry.num_students %></td><td><%= duration_format(entry.total_help_duration) %></td><td><%= duration_format(entry.avg_help_duration) %></td></tr>
    <% }); %>
    </tbody></table>
</div></div>
<% } %>

</div>
<script type="text/javascript">
var dateFormat = d3.time.format.utc("%Y-%m-%d");
var chart = c3.generate({
    bindto: '#daily_count',
    data: {
        xs: {
            "Number of Students/Day": "Date",
            "Number of Students/Hr": "Hour"
        },
        rows: [],
        type: 'bar',
        onclick: function(d, element) {
            chart.hide("Number of Students/Day");
            chart.show("Number of Students/Hr");
            var nextDay = new Date(d.x);
            nextDay.setDate(nextDay.getDate()+1);
            chart.zoom([d.x, nextDay]);
        },
        hide: "Number of Students/Hr"
    },
    axis: {
        x: {
            type: 'timeseries',
            localtime: false,
            tick: {
                format: function(x) {
                    return dateFormat(x);
                },
                culling: 12
            }
        }
    },
    bar: {
        width: {
            ratio: 1
        }
    },
    zoom: {
        enabled: false
    }
});
//var thirtyDaysAgo = new Date();
//thirtyDaysAgo.setDate(thirtyDaysAgo.getDate()-30);
var dailyRows = [["Date", "Number of Students/Day"]];
$.get("/metrics/counts.json?granularity=day", function(json) {
    json.forEach(function(item) {
        dailyRows.push([new Date(item.time), item.count]);
    });
    chart.load({
        rows: dailyRows
    });
});
var hourlyRows = [["Hour", "Number of Students/Hr"]];
$.get("/metrics/counts.json?granularity=hour", function(json) {
    json.forEach(function(item) {
        hourlyRows.push([new Date(item.time), item.count]);
    });
    chart.load({
        rows: hourlyRows
    });
});

$(document).ready(function() {
    $("#copy_button").click(function() {
        $("#emails").select();
        document.execCommand("Copy");
        $("#copy_button").text("Copied. Remember to use the BCC field!");
    });
});
</script>
<%- include("footer.ejs") %>
</body>
</html>
